.header{
    width: 100%;
	height: 100px;
	background-color: #FFC7AF;
	display: flex;
	justify-content: space-between;
}

.header-left{
	display: flex;
	align-items: center;
}

.header-left h1{
	color: #FF8856;
	font-size: 20px;
	font-family: cursive;
    text-align: center;
    margin-left: 10px;
    width: 150px;
}

.header-left img{
	height: 75px;
	width: 75px;
	border-radius: 20%;
	align-items: center;
	/*margin-left: 0px;*/
}

.header-left:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.header-right{
	display: flex;
	align-items: center;
	text-align: center;
	/*justify-content: flex-end;*/
}

.header-right:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}


.header-right img{
	height: 75px;
	width: 75px;
	border-radius: 20%;
	margin-right:30px;
}

.button{
	display: flex;
	flex-direction: column;
	/*justify-content: flex-end;*/
	margin-left: 400px;
	margin-top: 10px;
}

.button button{
	height: 30px;
	width: 90px;
	margin-top: 5px;
	margin-right: 20px;
	background-color: #FFCC99;
	border-radius: 10%;
	margin-left: 10px;
	border: 2px solid orange;
	font-family: cursive;
	cursor: pointer;
}

button:hover{
	background-color: orange;

}

/*ウェルカムここから*/

.welcome{
	width: 100%;
	height: 400px;
	background-image: url(sorapi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-family: cursive;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.welcome h2{
	font-size:50px;
}

.welcome li{
	font-size:30px;
	margin-top: 10px;
}

/*サイドバーここから*/

.contact{
	display: flex;
	font-family: cursive;
	color: #FF6600;
	text-align: center;
}

.sidebar-left{
	flex: 1;
	height: 350px;
    background-color: #F5D397;
}

.sidebar-left p{
	font-family: cursive;
	text-align: center;
	margin-top: 15px;
	font-size: 24px;
	color: #FF9900;
}

.form-group{
	margin-top: 30px;
}

.sidebar-right{
	flex:3;
	height: 350px;
	background-color: #FFFFCC;
    display: flex;
}

.text{
	margin-top: 10px;
	height: 30px;
	border-radius: 5%;
	border: 3px solid orange;
}

.text1{
	margin-top: 10px;
	height: 50px;
	border: 3px solid orange;
}

/*左側ここから*/

.table , .table th, .table td {
	border: 3px solid #FFCCCC;
	font-size: 30px;
	margin-top: 20px;
	margin-left: 20px;
}

.table th{
	padding: 25px;
	background-color: #FFFF66;
}

.table td{
	padding: 20px;
}

#last{
	background-color: #FFC7AF;
}

.balloon4 {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #FFDBC9;
  border-radius: 30px;
  height: 70px;
  width: 150px;
  border: 5px dotted #FF8856;
}

.balloon4:before {
  content: "";
  position: absolute;
  left: -43px;
  width: 13px;
  height: 12px;
  bottom: 80px;
  background: #FF9872;
  border-radius: 50%;
}

.balloon4:after {
  content: "";
  position: absolute;
  left: -28px;
  width: 20px;
  height: 18px;
  bottom: 70px;
  background: #FF8856;
  border-radius: 50%;
}
.balloon4 p {
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  color: black;
}

.balloon4 strong{
	color:red;
}

.neko-img{
	display: flex;
}

.neko-img img{
	width:200px;
	height: 180px;
	border-radius: 20%;
	margin-top: 30px;
	margin-left: 15px;
}

.star-right{
	height: 90px;
	width: 90px;
	margin-left: 200px;
	margin-top: -100px;
}

.star-left{
	height: 100px;
	width: 100px;
	margin-left: -30px;
	margin-top: 50px;
	display: flex;
}

.star-left-mini{
	height:50px;
	width: 50px;
	margin-left: -20px;
	margin-top: 120px;
}



.cat{
	display: flex;
}

/*photoここから*/


.photo{
	height: 380px;
	width: 100%;
	background-color: white;
}

.photo p{
	color: orange;
	font-size: 24px;
	font-family: cursive;
	text-align: center;
}

.subtitle{
	font-size: 36px;
	text-align: center;
	color: orange;
	margin-top: 20px;
}

.img-box{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.img-box li{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.img-box li img{
	height: 250px;
	width: 250px;
	border-radius: 5%;
}

.img-box li span{
	font-size: 24px;
	margin-top: 20px;
	font-family: cursive;
	color: orange;
}

/*articleここから*/

.article{
	background-color:#FFFFCC;
	margin-top: -60px;
}

.inline{
	text-align: center;
	margin-bottom: 10px;
	color: black;
	font-family: cursive;
	font-size: 16px;
}

.inline p{
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
}

.inline p:last-child{
	margin-bottom: -10px;
}

.atention {
	color: red;
	text-align: center;
	font-size: 30px;
	font-family: cursive;
	padding-top: 30px;
}

/*footerここから*/

.footer{
	background-color: #FFFF66;
    height: 40px;
}

.footer-in{
	font-family: cursive;
	font-size: 16px;
	color: #FF8856;
	text-align: center;
	padding-top: 10px;
}

/*ここからスマホ対応*/

@media screen and (max-width: 480px){
  body{
  	min-width: 375px;
     }

    .header-left h1{
    font-size: 18px;
    margin-left: 0px;

    }

    .header-left img{
	height: 55px;
	width: 55px;
    }

     .header-right li img{
    display: none;
    }

     .button{
	display: none;
    }

/*headerここまで*/

    .welcome{
	height: 200px;
    }

    .welcome h2{
    font-size: 25px;
    }

    .welcome li{
	font-size:20px;
	margin-top: 10px;
    }

/*sidebarここから*/

    .contact{
    display:flex;
    flex-direction: column;    }

   .sidebar-left{
	width: 100%;
	height: 400px;
    }

    .form-group{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 15px auto;
    }

    .input-field{
    margin-top: 10px;
    }

/*sidebarここまで*/

   .table , .table th, .table td {
	border: 3px solid #FFCCCC;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
    }

    .table th{
	padding: 10px;
    }

    .table td{
	padding: 10px;
    }

    .balloon4 {
     margin: 10px 10px 10px 20px;
     padding: 5px;
     height: 70px;
     width: 100px;
    }

   .balloon4:before {
   	display: none;
   }


   .balloon4:after {
    display: none;
   }

   .balloon4 p {
    margin-top: 10px;
    padding: 0;
    font-size: 15px;
    color: black;
    }

    .balloon4 .star-right{
   display: none;
    }

    .star-left{
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-top: 40px;
    }

    .star-left-mini{
    height: 30px;
    width: 30px;
    margin-top: 40px;
    margin-left: 10px;
    }

    .neko-img img {
   display: none;
    }

    /*photoここから*/

    .photo{
	height: 800px;
    }

    .img-box{
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    }

     .img-box li img{
    	width: 200px;
    	height: 200px;
    	text-align: center;
    	margin-left: 85px;
    	margin-top: 20px;
    }

    .photo{
	height: 880px;
    }

    .hamburger {
  display: block;
  width: 28px;
  height: 30px;
  margin: 50px 10px 30px 80px;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
  background-color: orange;
}

.hamburger span:after {
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
  background-color: #FFFF66;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 5px;
  transition: all 0.5s; /*←アニメーション*/
  backface-visibility: hidden;
  border-radius: 2px;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

/**/

.target.hide {
  transform: translateX(400px);
  display: block;
  color: white;

 }

.target {
  position: absolute;
  margin-top: 100px;
  transform: translateX(200px);
  transition: all 2s ease;
  display: block;
  width: 50%;
  height: 550px;
  background-color:rgba(191, 63, 127, 0.6);
  color: white;
  line-height: 30px;
 }
}