.header{
    width: 100%;
	height: 100px;
	background-color: #FFC7AF;
	display: flex;
	justify-content: space-between;
}

.header-left{
	display: flex;
	align-items: center;
}

.header-left h1{
	color: #FF8856;
	font-size: 30px;
	font-family: cursive;
    text-align: center;
    margin-left: 20px;
}

.header-left img{
	height: 75px;
	width: 75px;
	border-radius: 20%;
	align-items: center;
	margin-left: 15px;
}

.header-left:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.header-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-right:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}


.header-right img{
	height: 75px;
	width: 75px;
	border-radius: 20%;
	margin-right:30px;
}

/*ウェルカムここから*/

.welcome{
	width: 100%;
	height: 400px;
	background-image: url(sorapi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-family: cursive;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.welcome h2{
	font-size:50px;
}

.welcome li{
	font-size:30px;
	margin-top: 10px;
}

/*サイドバーここから*/
.sidebar{
	width: 100%;
	height: 450px;
	display: flex;
}

.sidebar img{
	height: 200px;
	width: 200px;
	margin-top: 15px;
	margin-left: 28px;
	border-radius: 30%;
}

.sidebar-left{
	width: 25%;
	display: flex;
	flex-direction: column;
	background-color: pinCk;
}

.sidebar-left:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.sidebar-right{
	width: 75%;
	height: 450px;
	background-color: red;
}
